<%= image_tag( @employee.img_url) %>

<h1><%= @employee.first_name %></h1>


<ul>
<li>
    First Name: <%=  @employee.first_name %> <br>
 </li> <li>
    Last Name: <%= @employee.last_name %> <br>
     </li> <li>
    Alias: <%= @employee.alias %> <br>
     </li> <li>
    title: <%= @employee.title %> <br>
     </li> <li>
    office: <%= @employee.office %> <br>
</li>
</ul>

</div>